.userContainer {
  position: absolute;
display: flex;
justify-content: center;
  width: 50%;
  z-index: 1;
}

.userIcon {
  width: 50px;
}

.userInformation {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.username{
font-size: 2rem;
margin: auto;
color:#faae0b ;
font-weight: bold;
}

@media screen and (width < 950px) {
  .userContainer {
    padding:  4rem 2rem;
    justify-content: right;

  }
  .userInformation {
    display: flex;
    flex-direction: row-reverse;
  }
  .username{
    font-size: 1.5rem;
    }
}