.ressourceGlobal {
  position: absolute;
  display: flex;
  gap: 1.5rem;
  right: 0;
  margin-right: 2rem;
  padding: 0.5rem;
}

.ressourceContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.ressourceName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ressourceIcon {
  width: 30px;
}

@media screen and (width < 900px) {
  .ressourceGlobal {
flex-direction: column;
  }
  .ressourceName {
    text-align: center;
    width: 100%;
  }
}