* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel Decorative", serif;
}

:root {
  --fill-width: 30px;
  --bgColor: grey;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* height: 100%; */
  height: 100vh;
  background: url("./assets/background_map.png");
  z-index: -3;
}

.section-building {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65%;
  /* width:95%; */
  margin: auto;
  /* line-height: 100px;  */
}

.home-building {
  position: absolute;
  height: 100vh;
  width: 125vw;
  overflow-y: auto;
  z-index: 2;
}

.home-building::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -25%;

  height: 150%;
  width: 150%;
  background: url("/images/background/bg4.png") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.buildingContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin-top: 10rem;
  width: 80%;
}

.buildingContainer > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icons {
  width: 127px;
  height: 50px;
  /* border-radius: 50px; */
  border: none;
  background-color: black;
  color: white;
  font-family: "Cinzel Decorative", serif;
  cursor: pointer;
  border-radius: 5px;
}

.menu-icons {
  display: flex;
  /* flex-direction: column; */
  gap: 25px;
  position: absolute;
  left: 30px;
  top: 5px;
  z-index: 2;
}

.logoutButton {
  background-color: orange;
  font-weight: 900;
  color: black;
}
.building-img {
  width: 150px;
  height: 150px;
}

.fill-background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bgColor);
  width: var(--fill-width);
  transition: width 0.5s ease;
}

.title-app {
  text-align: center;
  font-size: 24px;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  padding: 16px;
}

.title-app-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* height: 100%; */
  height: 100vh;
  background: url("./assets/background_map.png");
}

.ressourceHome {
  position: relative;
}

.burger{
  display: none;
}

@media only screen and (min-width: 800px) {
  /* Styles pour les écrans plus larges, en mode paysage */

  .progressBar-icon {
    position: absolute;
    right: -9px;
    font-size: 25px;
    top: -16px;
  }

  .progressBar,
  .progressBar-or {
    right: 50px;
  }

  .title-app {
    font-size: 62px;
  }
}
@media screen and (width < 950px) {
  .menu-icons {
    display: none;
  }
  .buildingContainer {
    width: 100%;
    padding: 5%;

    margin-top: 5rem;
  }

  .building-img {
    width: 100px;
    height: 100px;
  }
  .burger{
    display: block;
  }
  .home-building::before {
    top: -50%;
  }
}
@media (orientation: portrait) {
  /* Styles spécifiques pour le mode portrait */
  .menu-icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
  }
}
